.mappingbird-tooltip {
  background-color: #01A9E7;
  border-radius: 6px;
  padding: 18px;
  color: #FFF;
  font-size: 12px;
  position: absolute;
  width: 216px;
  z-index: 65536;
}

.mappingbird-tooltip h1 {
  font-size: 16px;
  line-height: 0;
  text-align: center;
  margin-bottom: 20px;
}

.bottom-arrow:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #01A9E7 transparent;
  display: block;
  width: 0;
  bottom: -15px;
  left: 115px;
}

.mappingbird-tooltip.popup {
  bottom: 65px;
  left: 40px;
}

.mappingbird-tooltip.done {
  top: 10px;
  left: 40px;
}

.mappingbird-frame {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999999;
  /*background-color: white;*/
  width: 352px;
  transition: height 0.2s, transform 0.2s, opacity 0.2s;
  transform: translateY(-20px);
  opacity: 0;
}

.mappingbird-frame.step1 {
  transform: translateY(0);
  opacity: 1;
  height: 200px;
}

.mappingbird-frame.step2 {
  transform: translateY(0);
  opacity: 1;
  height: 600px;
}

.mappingbird-frame.step3 {
  transform: translateY(0);
  opacity: 1;
  height: 450px;
}

.mappingbird-frame.step4 {
  transform: translateY(0);
  opacity: 1;
  height: 450px;
}

.mappingbird-frame.login {
  transform: translateY(0);
  opacity: 1;
  height: 330px;
}

.mappingbird-frame.error {
  transform: translateY(0);
  opacity: 1;
  height: 300px;
}

.mappingbird-frame.feedback {
  transform: translateY(0);
  opacity: 1;
  height: 350px;
}
