body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  overflow: hidden;
}

hr {
  border: none;
  border-top: 1px solid #dddddd;
}

input {
  height: 32px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #dddddd;
  color: #4E4E4E;
  border: 1px solid #dddddd;
}

textarea {
  font-size: 15px;
  padding-left: 10px;
  background-color: #dddddd;
  color: #4E4E4E;
  border: 1px solid #dddddd;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff;
}

input:focus, textarea:focus {
  outline: 0;
}

a.link {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #01A9E7
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
  position: relative;
}


/*
 * orange: #F6892A
 * blue: #01A9E7
 * dark: #4E4E4E
 * normal: #707070
 * hint: #DDDDDD
 */
.content {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 26px 16px 16px 16px;
  padding: 1px;
  padding-bottom: 10px;
}

.label {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.title {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.loading {
  text-align: center;
  height: 130px;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#close_btn {
  position: fixed;
  right: 15px;
  top: 28px;
}

/*
 * where
 */

.content.where {
  display: none;
}

.warningMessage {
  color: #ED1C24;
}

.content.where .warningMessage {
  display: none;
}

.content.where.showError .warningMessage {
  display: block;
}

.content.where.showError .header {
  display: none;
}

.content.where.showError input[type=text] {
  border: 1px solid #ED1C24;
}

.content.where .header {
  margin-top: 32px;
  margin-bottom: 12px;
}

.content.where .input {
  width: 209px;
  color: #707070;
}

.content.where .go_btn {
  padding: 0 18px;
  background-color: #F6892A;
  color: #ffffff;
  text-decoration: none;
  height: 37px;
}

.content.where .link {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #01A9E7
}

/**
 * search
 */
.content.search {
  display: none;
  height: 400px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  padding-bottom: 71px;
  padding-top: 20px;
}

.content.search .item {
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
}

.content.search .item:hover:before {
  content: ' \25CF';
  font-size: 25px;
  position: absolute;
  left: -17px;
  top: -5px;
  color: #01A9E7;
}

.content.search .item .title {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 30px;
}

.content.search .item.active .title::before {
  content: ' \25CF';
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: -5px;
  color: #01A9E7;
}

.content.search .item .description {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 12px;
}

.content.search .item:hover .description {
  color: #F6892A;
}

.content.search .item.active .description {
  color: #F6892A;
}

.content.search .item .maps {
  display: none;
}

.content.search .item.active .maps {
  display: block;
}
.content.search .item.active hr {
  display: none;
}

.footer {
  position: fixed;
  bottom: 100px;
  left: 8px;
  right: 8px;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.content.search .save_btn {
  background-color: #F6892A;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 30px;
  margin-right: 30px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.content.search .link {
  margin-left: 30px;
}

/**
 * save
 */
.content.save {
  display: none;
  margin-bottom: 25px;
}

.content.save .picture {
  height: 120px;
  overflow: hidden;
  margin: -24px -24px 0 -24px; /* full width */
}

.content.save .picture img {
  width: 96%;
  margin-left: 7px;
  border-radius: 10px;
  margin-top: 23px;
}

.content.save .header {
  color: #707070;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.content.save .header .title {
  color: #4E4E4E;
}

.content.save .manage {
  color: #01A9E7;
  font-size: 12px;
}

.content.save .input1 {
  width: 276px;
  height: 32px;
  margin-bottom: 8px;
}

.content.save .input2 {
  width: 275px;
  height: 96px;
  margin-bottom: 8px;
}

.content.save .update_btn {
  display: block;
  padding: 9px 118px;
  background-color: #F6892A;
  color: #ffffff;
  text-decoration: none;
}


/**
 * error
 */
.content.error {
  display: none;
  margin-bottom: 25px;
}

.content.error .picture {
  height: 120px;
  overflow: hidden;
  margin: -24px -24px 0 -24px; /* full width */
}

.content.error .picture img {
  width: 100%;
}

.content.error .title {
  color: #4E4E4E;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.content.error .description {
  color: #707070;
  font-size: 12px;
}

.content.error .button {
  margin-top: 18px;
}
.content.error .button a{
  display: inline;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 36px 9px;
}

.content.error .button .tryagain {
  background-color: #F6892A;
}
.content.error .button .feedback {
  background-color: #01A9E7;
}

/**
 * feeback
 */
.content.feedback {
  display: none;
}
.content.feedback .header{
  color: #4E4E4E;
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 30px;
  text-align: center;
}
.content.feedback .input1 {
  width: 276px;
  height: 32px;
  margin-bottom: 8px;
}

.content.feedback .input2 {
  width: 275px;
  height: 96px;
  margin-bottom: 8px;
}
.content.feedback .feedback_btn {
  display: block;
  padding: 9px;
  text-align: center;
  background-color: #F6892A;
  color: #ffffff;
  text-decoration: none;
}
/**
 * login
 */
.content.login {
  display: none;
}
.content.login .header{
  color: #4E4E4E;
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 30px;
  text-align: center;
}
.content.login form {
  margin-top: 18px;
}
.content.login .input1 {
  width: 276px;
  height: 32px;
  margin-bottom: 8px;

}
.content.login .input1.errorStyle {
  border: 1px solid #ED1C24;
}

.content.login .input2 {
  width: 276px;
  height: 32px;
  margin-bottom: 32px;
}
.content.login .input2.errorStyle {
  border: 1px solid #ED1C24;
}

.content.login .go_btn {
  padding: 9px 121px;
  margin-bottom: 18px;
  background: #F6892A;
  color: #ffffff;
  text-decoration: none;
}
.content.login .go_btn.errorStyle {
  background: #ED1C24;
}
.content.login .signup {
  color: #01A9E7;
  text-decoration: none;
  margin: 108px; /* bad here =( */
}
/**
 * signup
 */
.content.signup {
  display: none;
}
.content.signup .header{
  color: #4E4E4E;
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 30px;
  text-align: center;
}
.content.signup form {
  margin-top: 18px;
}
.content.signup .input1 {
  width: 276px;
  height: 32px;
  margin-bottom: 8px;

}
.content.signup .input1.errorStyle {
  border: 1px solid #ED1C24;
}

.content.signup .input2 {
  width: 276px;
  height: 32px;
  margin-bottom: 8px;
}
.content.signup .input2.errorStyle {
  border: 1px solid #ED1C24;
}
.content.signup .input3 {
  width: 276px;
  height: 32px;
  margin-bottom: 32px;
}
.content.signup .input3.errorStyle {
  border: 1px solid #ED1C24;
}
.content.signup .go_btn {
  padding: 9px 115px;
  margin-bottom: 18px;
  background: #F6892A;
  color: #ffffff;
  text-decoration: none;
}
.content.signup .go_btn.errorStyle {
  background: #ED1C24;
}
.content.signup .loginBtn {
  color: #01A9E7;
  text-decoration: none;
}
/**
 * autocomplete
 */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 5px 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
